# Spatial & Data Processing
pandas
numpy
geopandas
h3
pygeohash
shapely
holidays
joblib

# Deep Learning & ML (Module 3)
torch
torchvision
torchaudio
xgboost
lightgbm
scikit-learn
scipy
prophet

# Mobility Simulation (Module 1)
eclipse-sumo
sumolib
traci
networkx

# Visualization & Utils
matplotlib
seaborn
tqdm


stable-baselines3
